In [60]:
import pandas as pd

In [61]:
dir_data = 'data/BASE_TP/'

In [62]:
import pathlib

t = pathlib.Path(dir_data).iterdir()

dfs = []
for i in t:
    dfs.append(pd.read_csv(i,  encoding = "ISO-8859-1", sep='|'))


df = pd.concat(dfs, ignore_index=True)

In [63]:
df

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies
0,10141824,2020-03-15,Feminino,1995-10-09,peixe,quente,Cerveja,Praticar esporte
1,10141910,2020-03-15,Feminino,1992-12-15,peixe,quente,Vinho,Assistir TV
2,10141955,2020-03-15,Feminino,1973-12-26,peixe,quente,Vinho,Dormir
3,10142143,2020-03-15,Masculino,1996-12-19,cachorro,quente,Cerveja,Pintar quadros
4,10142661,2020-03-15,Masculino,1971-12-24,tartaruga,quente,Café,Pintar quadros
...,...,...,...,...,...,...,...,...
2122,10142468,2020-11-12,Masculino,1994-09-23,gato,quente,Cerveja,Escutar música
2123,10142858,2020-11-12,Masculino,1963-04-06,gato,quente,refrigerante,Dormir
2124,10142995,2020-11-12,Masculino,1969-10-05,gato,moderado,Chá,Assistir TV
2125,10143260,2020-11-12,Masculino,1962-05-19,gato,moderado,Cerveja,Pintar quadros
2126,10143399,2020-11-12,Feminino,1988-04-17,peixe,moderado,Vinho,Praticar esporte

In [64]:
df['data_nascimento'] = pd.to_datetime(df['data_nascimento'])
df['data_coleta'] = pd.to_datetime(df['data_coleta'])

In [65]:
df['age'] = (df['data_coleta'] - df['data_nascimento']).astype('<m8[Y]')

df

,cod_pessoa,data_coleta,genero,data_nascimento,animal_estimacao,clima,bebida_favorita,hobbies,age
0,10141824,2020-03-15,Feminino,1995-10-09,peixe,quente,Cerveja,Praticar esporte,24.0
1,10141910,2020-03-15,Feminino,1992-12-15,peixe,quente,Vinho,Assistir TV,27.0
2,10141955,2020-03-15,Feminino,1973-12-26,peixe,quente,Vinho,Dormir,46.0
3,10142143,2020-03-15,Masculino,1996-12-19,cachorro,quente,Cerveja,Pintar quadros,23.0
4,10142661,2020-03-15,Masculino,1971-12-24,tartaruga,quente,Café,Pintar quadros,48.0
...,...,...,...,...,...,...,...,...,...
2122,10142468,2020-11-12,Masculino,1994-09-23,gato,quente,Cerveja,Escutar música,26.0
2123,10142858,2020-11-12,Masculino,1963-04-06,gato,quente,refrigerante,Dormir,57.0
2124,10142995,2020-11-12,Masculino,1969-10-05,gato,moderado,Chá,Assistir TV,51.0
2125,10143260,2020-11-12,Masculino,1962-05-19,gato,moderado,Cerveja,Pintar quadros,58.0
2126,10143399,2020-11-12,Feminino,1988-04-17,peixe,moderado,Vinho,Praticar esporte,32.0

### Preference for cat and dogs

In [66]:
df.groupby('animal_estimacao').size()

animal_estimacao
cachorro     414
gato         864
peixe        432
tartaruga    417
dtype: int64

In [88]:
dog_cat = df[(df['animal_estimacao'] == "cachorro") | (df['animal_estimacao'] == "gato")]
dog_cat['animal_estimacao'].count()

1278

### Median of mens that likes beer and warm weather

In [100]:
df_age = df[(df['bebida_favorita'] == 'Cerveja') & (df['clima'] == 'quente') & (df['genero'] == 'Masculino')]
media_idade = df_age['age'].mean()
media_idade

43.94736842105263

### Qual é o segundo hobbie de maior preferência entre os homens?

In [70]:
df_hobb = df[df['genero'] == 'Masculino'].groupby('hobbies').size().sort_values(ascending=False)
df_hobb

hobbies
Dormir                184
Aprender algo novo    183
Escrever              182
Ler livros            177
Praticar esporte      175
Assistir TV           173
Pintar quadros        171
Escutar música        153
dtype: int64

### Qual o hobbie de maior preferência entre as mulheres que gostam de  cachorro?

In [71]:
df_hobb_woman_dog = df[(df['genero'] == 'Feminino') & (df['animal_estimacao'] == 'cachorro')]
df_hobb_woman_dog.groupby('hobbies').size().sort_values(ascending=False)

hobbies
Praticar esporte      22
Dormir                21
Escutar música        18
Ler livros            18
Pintar quadros        18
Assistir TV           16
Aprender algo novo    15
Escrever              15
dtype: int64

### Qual a bebida favorita entre as mulheres e homens?

In [73]:
df_men_women = df[(df['genero'] == 'Masculino') | (df['genero'] == 'Feminino')]
count_bebidas = df_men_women.groupby(['genero', 'bebida_favorita']).count()['cod_pessoa']
count_bebidas = count_bebidas.sort_values(ascending=False)
print(count_bebidas)

genero     bebida_favorita
Masculino  Café               258
           Cerveja            250
           refrigerante       226
           Chá                223
           Água               222
           Vinho              219
Feminino   Cerveja            138
           Café               125
           Chá                125
           refrigerante       124
           Vinho              114
           Água               103
Name: cod_pessoa, dtype: int64

### Qual é a média de idade das pessoas que tem como hobbie Ler livros?

In [101]:
df_books = df[df['hobbies'] == 'Ler livros']
media_idade = df_books['age'].mean()
media_idade

43.583657587548636

### Quantas pessoas tem como Hobbie Aprender algo novo e qual a sua média de idade respectivamente?

In [114]:
new_things = df[df['hobbies'] == 'Aprender algo novo']
pessoas_nt = new_things['cod_pessoa'].count()
print(f"pessoas: {pessoas_nt} media de idade {new_things['age'].mean():.2f}")

pessoas: 271 media de idade 44.59

### Qual é a idade da pessoa mais velha e qual é o animal de maior preferência entre esse grupo?

In [12]:
idade_maxima = df['age'].max()
df_maximo = df[df['age'] == idade_maxima]
contagem_animais = df_maximo['animal_estimacao'].value_counts()

df_maximo.groupby('animal_estimacao').describe()

                 cod_pessoa                                        \
                      count          mean         std         min
animal_estimacao
cachorro                5.0  1.014229e+07  667.921178  10141538.0
gato                   10.0  1.014227e+07  513.996066  10141617.0
peixe                   5.0  1.014252e+07  915.500246  10141655.0
tartaruga               6.0  1.014209e+07  431.325245  10141547.0

                                                                    age        \
                          25%         50%         75%         max count  mean
animal_estimacao
cachorro          10141870.00  10142073.0  10142801.0  10143147.0   5.0  70.0
gato              10141910.75  10142233.5  10142548.5  10143223.0  10.0  70.0
peixe             10141752.00  10142200.0  10143437.0  10143555.0   5.0  70.0
tartaruga         10141760.75  10142162.5  10142311.5  10142688.0   6.0  70.0


                  std   min   25%   50%   75%   max
animal_estimacao
cachorro          0.0  70.0  70.0  70.0  70.0  70.0
gato              0.0  70.0  70.0  70.0  70.0  70.0
peixe             0.0  70.0  70.0  70.0  70.0  70.0
tartaruga         0.0  70.0  70.0  70.0  70.0  70.0

### Qual é o animal de estimação de menor preferência entre os homens?

In [13]:
homens_animal = df[(df['genero'] == 'Masculino')]
homens_animal.groupby('animal_estimacao')['animal_estimacao'].count()

animal_estimacao
cachorro     271
gato         585
peixe        274
tartaruga    268
Name: animal_estimacao, dtype: int64

### Quantas pessoas que gostam do clima frio ?

In [14]:
clima_frio = df[df['clima'] == 'frio'].count()
clima_frio

cod_pessoa          723
data_coleta         723
genero              723
data_nascimento     723
animal_estimacao    723
clima               723
bebida_favorita     723
hobbies             723
age                 723
dtype: int64