In [2]:
import pandas as pd
import lxml.html

In [3]:
HTML = 'https://profleandrolessa.wordpress.com/exercicio-de-coleta-de-dados/'

In [8]:
df = pd.read_html(HTML, encoding='utf-8', thousands='.', header=0)
df[0]

,cod_produto,nome_produto,cod_classe_produto,classe_produto,valor
0,1000,Sabão em pó,1,Produtos de Limpeza,"9,9"
1,1001,Amaciante,1,Produtos de Limpeza,22
2,1002,Detergente,1,Produtos de Limpeza,"1,99"
3,1003,Água sanitária,1,Produtos de Limpeza,12
4,1004,Esponja de aço,1,Produtos de Limpeza,4
...,...,...,...,...,...
82,1082,Peixe,5,Carnes e Frios,"29,99"
83,1083,Frango,5,Carnes e Frios,"1,99"
84,1084,Carne vermelha,5,Carnes e Frios,"56,99"
85,1085,Carne seca,5,Carnes e Frios,"64,99"
86,1086,Salsicha,5,Carnes e Frios,"15,9"

In [12]:
df[0].dtypes

cod_produto            int64
nome_produto          object
cod_classe_produto     int64
classe_produto        object
valor                 object
dtype: object

In [14]:
df[0].shape

(87, 5)